/* BASE RULES */

:root {
    --ff-heading: Rockwell Extra Bold, Rockwell Bold, monospace;
    --ff-subheading: Quicksand, sans-serif;
    --ff-paragraph: Calibri, Georgia, Times, Times New Roman, serif;
    --ff-code: Courier;
    --c-header: rgb(0, 128, 128);/* hsla(104, 100, 87, 0.81);*/
    --c-celebrate: rgb(255, 160, 122);
    background-color: #fff;
}

/* Begining of Andy Bell Reset.css */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul /* [role="list"], */
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
/* End of Andy Bell Reset.css */

/* LAYOUT RULES */

#header {
    /* display: flex;
    align-items: center; */
    padding: clamp(1.09rem,1rem + .47vw,1.33rem) 0;
    background: var(--c-header);
}

#intro {
    /* padding: 0 0 clamp(1.09rem,1rem + .47vw,1.33rem) 0; */
    /* height: 500px; */
}
#celebrate {
    padding: clamp(1.09rem,1rem + .47vw,1.33rem) 0;
    background: var(--c-celebrate);
    /* height: 500px; */
}
    #events {
    padding: clamp(1.09rem,1rem + .47vw,1.33rem) 0;
    /* height: 500px; */
}

@media (min-width: 668px) {
    .header__wrapper {
        display: flex;
        justify-content: space-between;
        width: clamp(16rem, 85vw, 75rem);
        margin-left: auto;
        margin-right: auto;
        padding-left: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
        padding-right: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
        /* background: lightblue; */
        /* position: relative; */
    }
    .intro__wrapper {
        width: clamp(16rem, 85vw, 75rem);
        margin-left: auto;
        margin-right: auto;
        padding-left: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
        padding-right: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
        /* background: lightblue; */
        /* position: relative; */
    }
    
    .celebrate__wrapper {
        width: clamp(16rem, 85vw, 75rem);
        margin-left: auto;
        margin-right: auto;
        padding-left: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
        padding-right: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
        /* background: lightblue; */
        /* position: relative; */
    }

    .events__wrapper {
        width: clamp(16rem, 85vw, 75rem);
        margin-left: auto;
        margin-right: auto;
        padding-left: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
        padding-right: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
        /* background: lightblue; */
        /* position: relative; */
    }
    
    .events__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        /* grid-template-rows: repeat(4, 100px); */
        gap: 10px;
        justify-items: center;
        /* height: 500px;
        aspect-ratio: 1; */
    }
    
}



/* MODULE RULES */

/* Navbar Module */

.logo {
    margin: 0;
    width: 10rem;
}
.toggle {
    display: block;
    position: absolute;
    z-index: 10;
    background: url(/12-Club-Responsive/img/toggle.png);
    width: 2rem;
    aspect-ratio: 1;
    top: 1rem;
    right: 1rem;
}
.nav-primary {
    /* display */
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
    /* positioning */
    position: fixed;
    
    /* box-model */
    margin: 0;
    padding: min(30vh, 3.5rem) 2rem;
    inset: 0 0 0 50%;
    background-color: rgba(230, 16, 16, 0.85);
    backdrop-filter: blur(1rem);
    
    /* typography */
    font-family: var(--ff-heading);
    font-weight: 700;
}
.nav-primary > li {
    list-style-type: none;
}
.nav-primary > li > a {
    color: white;
    text-decoration: none;
}

@media (min-width: 668px) {
    .toggle {
        display: none;
    }
    .nav-primary {
        /* display */
        flex-direction: row;
        /* positioning */
        position: static;
        /* box-model */
        padding: 1rem;
        background-color: var(--c-header);
    }
}

/* Intro Module */


@media (min-width: 668px) {
.intro__img-container {
    aspect-ratio: 2 / 1;
}
.intro__img {
    width: 100%;
    height: 65vh;
    object-fit:cover;
}
}

/* Celebrate Module */

.celebrate__text {
    padding: 0 1rem;
    text-align: center;
    font-family: var(--ff-paragraph);
}
.celebrate__text > h1 {
    font-size: 2rem;
    font-family: var(--ff-heading);
}

/* Events Module */

.card { 
    aspect-ratio: 1.17 / 1;
}

.card__img {
    width: 100%;
    aspect-ratio: 1.5 / 1;
    object-fit: cover;
}
.card__content {
        /* //  width: 50%; */
        background-color:  hsla(210, 44%, 96%, 0.65);
        z-index: 10;
        text-align: center;
        align-self: end;
        margin: 3.5rem;
        padding: 0.5rem;
        box-shadow: 0 3px 10px rgba(141, 140, 140, 0.5);
        aspect-ratio: 1 / 0.15;
    
}
.card__title {
    font-family: var(--ff-heading);
    font-size: 1.25rem;
}

.card__description {
    font-family: var(--ff-paragraph);
    font-size: 1.0rem;
}

.card__stacked {
    display: grid; /*  */
}

.card__stacked > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}




/* STATE RULES */
