/* HTML element CSS Properties */
:root {
    /* Setting a base font size of 10px give us easier rem calculations
        Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
      */
     display: block; /* CSS default value */
     font-size: 10px;	
     font-family: Verdana, sans-serif;
    
   }
   /* end of HTML element */

*,
*::before,
*::after  {
     box-sizing: border-box;
   }

body {
    background: black;
    text-align: center;
    color: white;
}

h1 {
    font-size: 5rem;
    font-weight: bold;
}

h2 {
    font-size: 4.2rem;
    font-weight: 300;
}

p, a {
    font-size: 2rem;
    color: violet;
}