@import url(c:\00-CodeShop\10-Full-Stack-Projects\13-SassTut\css\test.css);
.container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}

.btn-primary, .btn-secondary {
  display: inline;
  border-radius: 3px;
  padding: 8px 20px;
  margin: 3px;
}

.btn-primary:hover, .btn-secondary:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn-primary {
  background-color: #418bff;
}

.btn-secondary {
  background-color: #ff8700;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  color: aqua;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

.showcase {
  background-color: #0e6cff;
  color: white;
  height: 600px;
}

.showcase nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.showcase nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.showcase nav li {
  padding: 15px;
}

.showcase nav a:hover {
  color: #ff8700;
}

.showcase a {
  color: white;
}

.showcase-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.showcase-content img {
  width: 115%;
}

.showcase-content h1 {
  font-size: 3rem;
  line-height: 1.2;
}

.showcase-content p {
  margin: 1.2rem 0;
}

img {
  width: 100%;
}
